body{
    background-color: rgb(166, 240, 240);
    color: rgb(25, 125, 212);
}

nav{
    background-color: rgb(71, 145, 206);
    padding: 0px 13px;
}

ul{
    list-style-type: none;
}

li{
    display: inline;   
}

a{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(252, 252, 252);
    padding: 0px 10px;
}

a:hover{
    color: rgb(1, 35, 54);
    text-decoration: none;
}
